.logo-header {
    color: var(--logo-color);
}

/* Навігація */

.navi {
    margin-left: 94px;
}

.navi-list {
    display: flex;
}

.navi-item+.navi-item {
    margin-left: 50px;
}

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    border-color: var(--background-section-basic);
    border-bottom: 1px solid #ececec;

        .container {
            display: flex;
            align-items: center;
        }
}

.navi-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--header-color);
    transition: color var(--transition-dur-tim);


        &:focus,
        &:hover {
            color: var(--accent-color);
        }
}



.cont-list {
    display: flex;
    margin-left: auto;
}

.cont-item+.cont-item {
    margin-left: 50px;
}

.contact-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-dur-tim);

        &:hover,
        &:focus {
            color: var(--accent-color);

                .cont-icon,
                .cont-icon {
                    fill: var(--accent-color);
                }
        }
}



.cont-icon {
    width: 16px;
    height: 16px;
    fill: var(--text-color);
    margin-right: 10px;
    transition: fill var(--transition-dur-tim);
}

