.basic-button {
    color: var(--text-color-secondary);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

    display: block;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 4px;
    font-family: inherit;

    cursor: pointer;
    border-color: transparent;

    transition: background-color var(--transition-dur-tim);

        &:hover,
        &:focus {
            background-color: #188ce8;
        }
}

